{% extends "base.html" %} 
{% block content%}

<div class="container-fluid" id="about">
<div class="row">
<div id="atron" class="jumbotron container col-10 offset-1 bg-primary" style="text-align:center; height:300px width:300px; opacity:0.9;" >
  <h1 class="display-4" style="color: white;">Crypto Sons.</h1>
  <hr class="my-4">
  <p class="lead" style="color: white;">A modern Encryption website.</p>
  <p class="lead" style="color: white;">Communicate Securely.</p>
  <a class="btn btn-danger btn-lg" href="https://www.youtube.com/watch?v=JMTbOG576HE" role="button" target="_blank">Website 	Manual</a>
</div>

</div>



</div>


{% endblock content%}