{% extends "base.html" %} 
{% block content%}

<div class="container-fluid" id="home">

<div class="row">
<div id="tron" class="jumbotron container col-10 offset-1 " style="text-align:center; height:400px width:400px; opacity:0.75;" >
  <h1 class="display-4">Crypto Sons.</h1>
  <hr class="my-4">
  <p class="lead" >A modern Encryption website.</p>
  <p class="lead">Communicate Securely.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button" target="_blank">How To Use It.</a>
</div>

</div>


</div>


{% endblock content%}